lightning-card {
    font-size: 15px;
}

.product-name {
    font-size: 40px;
    font-family: Merry Christmas Star;
}

.description {
    min-height: 44px;
}

.units-in-inventory {
    padding: 5px 0px;
    font-weight: bold;
    font-size: 16px;
}

.cost {
    font-size: 20px;
}

img {
    max-width: 200px;
}
