lightning-card {
    font-size: 15px;
}

img {
    max-width: 200px;
}

.product-name {
    font-size: 40px;
    font-family: Merry Christmas Star;
}

.description {
    min-height: 44px;
}

.cost {
    margin: 10px 0px;
}

.purchase {
    padding: 5px 10px 10px 5px;
    margin: 0px 10px;
    background-color: #ffdbdb;
    border-radius: 0.25rem;
}

.add-to-cart {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

svg {
    width: 52px;
    height: 52px;
}

svg:hover {
    fill: #07993e;
    cursor: pointer;
}

lightning-combobox {
    width: 245px;
    margin: 20px 10px;
    background-color: white;
    border-radius: 0.25rem;
    border: 1px solid #dddbda;
}
